<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>You do not have the necessary permissions to access this page...</h1>
        <p>If you think you should have access to this page, please contact the Automation Team for more information.</p>
    </div>
</body>
</html>